<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">

          <%= form_tag sessions_path do %>
            <h1>Login Form</h1>
            <h2 style="color: red;"><%= flash[:alert] %></h2>
            <div>
              <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Username" %>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" name="password" required="" />
            </div>
            <div>
              <%= submit_tag "Log in", class: "btn btn-default submit" %>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>
            
          <% end %>
          <form>
            <!-- <h1>Login Form</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="index.html">Log in</a>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div> -->

            <!-- <div class="clearfix"></div>

            <div class="separator"> -->

              <!-- <div class="clearfix"></div> -->
              <br />

              <div>
                <h1><i class="fa fa-delicious"></i> BK Food</h1>
                <p>©2016 All Rights Reserved. BK Food. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>