<h2>API USAGE DOCUMENT</h2>
<hr>
<p>Content Type:</p>
<p>"application/json"</p>
<hr>
<p>Body</p>
<p>Pass json data on body</p>
<hr>
<b>API Requests:</b>
<p>=> listing food</p>
<p>url: http://localhost:3000/api/foods
   method: GET
   body : not needed</p>