<p>
  <strong>Title:</strong>
  <%= @dish.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @dish.img.url(:medium) %>
</p>